.container {
  display: inline-block;
  background: #00aff9
    url(https://stories.freepiklabs.com/storage/23247/401-error-unauthorized-rafiki-2845.png)
    center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
  width: 100%;
  background-size: inherit;
}

.heading-line {
  margin: 0.8em 3rem;
  font: 4em Roboto;
}
.para {
  display: inline-block;
  margin: 0.2em 3rem;
  font: 2em Roboto;
}
