.content {
  .title {
    color: #2d2d2d;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 5px;
  }

  .sub-title {
    color: #2d2d2d;
    line-height: 1.5rem;
    margin: 0;
    padding: 5px;
  }

  .location {
    color: #2d2d2d;
    line-height: 1.5rem;
    margin: 0;
    padding: 5px;
  }
}
